@import url(css/noncompliant.css);

/**********************************************************************************************************************************/
/* CSS RESET  - DO NOT CHANGE THIS BLOCK ******************************************************************************************/
/**********************************************************************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup, nav, section { margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
/* remember to define focus pseudo-class to your styles! */
:focus								{ outline:0; }
body								{ line-height:1; color:black; background:white; }
ol, ul								{ list-style:none; }
/* tables still need 'cellspacing="0"' in the markup */
table								{ border-collapse:separate; border-spacing:0; }
caption, th, td						{ /*text-align:left;*/ font-weight:normal; }
table, td, th						{ vertical-align:top; }
blockquote:before, blockquote:after,
q:before, q:after					{ content:""; }
blockquote, q						{ quotes:"" ""; }
a img								{ border:none; }



/**********************************************************************************************************************************/
/*..TUNING_SPECIFIC_STYLES_START..*************************************************************************************************/
/**********************************************************************************************************************************/

/*..Colors_Color_START..*/
.Color0_Bg, input[type=submit], input[type=reset], input[type=button], button, .btn, #HeaderArea, #Footer
/*..Color0..*/						{ background-color:#53493f; } /* UPDATE COLOR ONLY - BASE COLOR  */
.Color0, a, a:link, a:visited, a:hover, h1, h3, h5,#MenuH .submenu li:hover > a,#MenuV .submenu li:hover > a,#MenuH .submenu li.current > a,#MenuV .submenu li.current > a,




.C00_Clean h1, .C00_Clean h2, .C00_Clean h3, .C00_Clean h4, .C00_Clean h5, .C00_Clean h6,
.C00_CleanWPadding h1, .C00_CleanWPadding h2, .C00_CleanWPadding h3, .C00_CleanWPadding h4, .C00_CleanWPadding h5, .C00_CleanWPadding h6,
.C00_Clean a, .C00_CleanWPadding a
/*..Color0..*/						{ color:#53493f; } /* UPDATE COLOR ONLY */
.Color1_Bg, #BgLayer1
/*..Color1..*/						{ background-color:#867847; } /* UPDATE COLOR ONLY - PAGE BACKGROUND */
.Color1
/*..Color1..*/						{ color:#867847; } /* UPDATE COLOR ONLY */
.Color2_Bg, #NavArea, #MenuV .MM, #MenuV .Color2_Bg,#MenuH .submenu,#MenuV .submenu, #MainContentArea #MenuH, #MainContentArea #MenuV


/*..Color2..*/						{ background-color:#655e41; } /* UPDATE COLOR ONLY - MENU OFF */
.Color2
/*..Color2..*/						{ color:#655e41; } /* UPDATE COLOR ONLY */
.Color3_Bg
/*..Color3..*/						{ background-color:#655e41; } /* UPDATE COLOR ONLY - MENU ON */
.Color3
/*..Color3..*/						{ color:#655e41; } /* UPDATE COLOR ONLY */
.Color4_Bg, .C01 .CTitleBg
/*..Color4..*/						{ background-color:#3a2b32; } /* UPDATE COLOR ONLY - CONTAINER1 */
.Color4, .C03 .CTitle
/*..Color4..*/						{ color:#3a2b32; } /* UPDATE COLOR ONLY */
.Color5_Bg, .C02 .CTitleBg
/*..Color5..*/						{ background-color:#48393e; } /* UPDATE COLOR ONLY - CONTAINER2 */
.Color5, .C04 .CTitle
/*..Color5..*/						{ color:#48393e; } /* UPDATE COLOR ONLY */
/*..Colors_Color_END..*/

/*..Backgroundlayers_Layer_START..*/
#BgLayer1
/*..Background layer..*/			{  }
/*..Backgroundlayers_Layer_END..*/

/*..Widths_PageWidth_START..*/
.PageWidth
/*..Page Width..*/					{ width:970px; }
/*..Widths_PageWidth_END..*/

/*..Widths_MenuVWidth_START..*/
.MenuVWidth
/*..Left Vertical Menu Width..*/	{ width:250px; }
#MainContentArea
/*..Left Vertical Menu Width..*/	{ margin-left:250px; }
/*..Widths_MenuVWidth_END..*/

/*..Text_Fontfamily_START..*/
body
/*..Text..*/						{ font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; }
h1, h2, h3, h4, h5, h6
/*..Titles..*/						{ font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; }
/*..Text_Fontfamily_END..*/

/*..Text_Fontsize_START..*/
html, body
/*..Text base size..*/				{ font-size:13px; } /*SETS DEFAULT OR BASE FONT SIZE*/
/*..Text_Fontsize_END..*/

/*..Text_Fontcolor_START..*/
body
/*..General text..*/				{ color:#333333; } /*SETS DEFAULT OR BASE FONT SIZE*/
a, a:link, a:active, a:visited
/*..Links..*/						{ color:#53493f; }
a:hover
/*..Links hover..*/					{ color:#53493f; }
#User .welcome a,
#User .welcome a:link,
#User .welcome a:visited,
#User .welcome a:active,
#Login .user-actions a,
#Login .user-actions a:link,
#Login .user-actions a:visited,
#Login .user-actions a:active,
#Cart .cartlink,
#Cart .cartprice,
#Logo,
#Logo a,

#Language .language,
#Date .date 
/*..Header text..*/					{ color:#ffffff; }
#Breadcrumb .breadcrumblink,
#Breadcrumb .breadcrumblinksep,
#Breadcrumb .breadcrumblinkcurrent
/*..Breadcrumb text..*/				{ color:#ffffff; }
#Copyright .Copyright, #Privacy .privacylink, #Terms .termslink, #Sitemap .sitemaplink

/*..Footer text..*/					{ color:#b0b0b0; }
input[type=submit], input[type=reset], input[type=button], button, .btn
/*..Buttons bg color..*/			{ background-color:#53493f; }
input[type=submit], input[type=reset], input[type=button], button, .btn, a.btn, a.btn:link, a.btn:visited, a.btn:active,
.ms-WPBody a.btn:link, .ms-WPBody a.btn:visited
/*..Buttons text color..*/			{ color:#ffffff; }
.C00_Clean h1, .C00_Clean h2, .C00_Clean h3, .C00_Clean h4, .C00_Clean h5, .C00_Clean h6,
.C00_CleanWPadding h1, .C00_CleanWPadding h2, .C00_CleanWPadding h3, .C00_CleanWPadding h4, .C00_CleanWPadding h5, .C00_CleanWPadding h6
/*..Headings (container clean)..*/	{ color:#53493f; }
.C00_Clean, .C00_Clean p, .C00_Clean td, .C00_Clean div, .C00_Clean span,
.C00_CleanWPadding, .C00_CleanWPadding p, .C00_CleanWPadding td, .C00_CleanWPadding div, .C00_CleanWPadding span
/*..Text (container clean)..*/		{ color:#ffffff; }
.C00_Clean a, .C00_CleanWPadding a
/*..Links (container clean)..*/		{ color:#53493f; }
/*..Text_Fontcolor_END..*/

/*..Menu_Menuoption_START..*/
#MenuH
/*..Horizontal..*/					{  }
#MenuV
/*..Vertical..*/					{  }
/*..Menu_Menuoption_END..*/

/*..Menu_Menucolor_START..*/
#NavArea, #MenuV .MM, #MenuV .Color2_Bg, #MainContentArea #MenuH, #MainContentArea #MenuV
/*..Menu bg color..*/				{ background-color:#655e41; }
#MenuH ul.menu > li > a,
#MenuV ul.menu > li > a

/*..Menu text color..*/				{ color:#FFFFFF; }
#MenuH ul.menu > li:hover > a,
#MenuV ul.menu > li:hover > a,

#MenuH ul.menu > li.current > a,
#MenuV ul.menu > li.current > a

/*..Menu text color hover..*/		{ color:#FFFFFF; }
#MenuH .submenu li a,
#MenuV .submenu li a

/*..Sub menu text color..*/			{ color:#FFFFFF; }
#MenuH .submenu li:hover > a,
#MenuV .submenu li:hover > a,

#MenuH .submenu li.current > a,
#MenuV .submenu li.current > a

/*..Sub menu text color hover..*/ 	{ color:#FFFFFF; }
/*..Menu_Menucolor_END..*/

/*..Containers_Container_START..*/
.C01 .CTitleBg
/*..Container C01 title bg color..*/{ background-color:#3a2b32; }
.C01 .CTitle
/*..Container C01 title text color..*/{ color:#ffffff; }
.C02 .CTitleBg
/*..Container C02 title bg color..*/{ background-color:#48393e; }
.C02 .CTitle
/*..Container C02 title text color..*/{ color:#ffffff; }
.C03 .CTitle
/*..Container C03 title text color..*/{ color:#3a2b32; }
.C04 .CTitle
/*..Container C04 title text color..*/{ color:#48393e; }
/*..Containers_Container_END..*/

/*..Tokens_Token_START..*/
#Breadcrumb
/*..Breadcrumb..*/					{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Cart
/*..Cart..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Copyright
/*..Copyright..*/					{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Date
/*..Current Date..*/				{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Language
/*..Language..*/					{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Login
/*..Login..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Privacy
/*..Privacy..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Search
/*..Search..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Sitemap
/*..Sitemap..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#Terms
/*..Terms..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
#User
/*..Users..*/						{  } /* REMOVE IF TOKEN NOT PRESENT IN THEME */
/*..Tokens_Token_END..*/

/**********************************************************************************************************************************/
/*..TUNING_SPECIFIC_STYLES_END..*************************************************************************************************/
/**********************************************************************************************************************************/



/**********************************************************************************************************************************/
/* THEME SPECIFIC STYLES **********************************************************************************************************/
/**********************************************************************************************************************************/

/* BASIC TYPOGRAPHY - UPDATE TO YOUR OWN STYLES ***********************************************************************************/

h1									{ font-size:1.5em; font-weight:700; margin-bottom:0.2em; }
h2									{ color:#000000; font-size:1.15em; font-weight:700; margin-bottom:0.2em; }
h3									{ font-size:1.15em; font-weight:500; margin-bottom:0.2em; }
h4									{ color:#000000; font-size:1.0em; font-weight:700; margin-bottom:0.5em; }
h5									{ font-size:1.0em; font-weight:700; margin-bottom:0.2em; }
h6									{ color:#000000; font-size:0.9em; font-weight:700; margin-bottom:0.2em; }
p									{ font-size:100%; margin:0 0 1em; }
p img.left							{ float:left;margin:1.5em 1.5em 1.5em 0;padding:0; }
p img.right							{ float:right;margin:1.5em 0 1.5em 1.5em; }
a:focus,a:hover						{ }
a, a:link, a:visited, a:active		{ text-decoration:none; }
a:hover								{ text-decoration:underline; }
blockquote							{ color:#777777; font-family:inherit; font-size:1.0em; font-style:italic; }
strong, b							{ font-weight:bold; }
em, dfn, i							{ font-style:italic;}
dfn									{ font-weight:bold; }
sup, sub							{ line-height:0; }
abbr, acronym						{ border-bottom:1px dotted #666; }
address								{ margin:0 0 1.5em;font-style:italic; }
del									{ color:#666; }
pre									{ margin:1.5em 0;white-space:pre; }
pre, code, tt						{ font:1em 'andale mono', 'lucida console', monospace;line-height:1.5; }
li ul, li ol						{ margin:0; }
ul, ol								{ margin:0 1.5em 1.5em 0; padding-left:2.5em; }
ul, ul li							{ list-style-type: square; }
ol, ol li							{ list-style-type:decimal; }
li									{ }
dl									{ margin:0 0 1.5em 0;}
dl dt								{ color:#000; font-weight:bold;}
dd									{ margin-left:1.5em;}
table								{ border-collapse:collapse; }
th, thead, tfoot					{ color:#000000; }
thead th							{ background:#cccccc; }
tr.even td							{ background:#eeeeee; }
tfoot								{ font-style:italic; }
caption								{ background:#e7e7e7; }
hr									{ background:#cccccc; border:none; clear:both; height:1px; }
fieldset							{ background:#f5f5f5; border:1px #d0d0d0 solid; margin-bottom:10px; padding:10px; }
legend								{ font-family:inherit; font-size:inherit; }
input[type=password],input[type=text], textarea, select
									{ background:#eee; border-width:1px 0 0 1px !important; border-color:#999; border-style:solid; font-family:inherit; font-size:0.9em; margin:0.25em 0; padding:5px; }
input[type=submit], input[type=reset], input[type=button], button, .btn
									{ background-image:url(../Content/Images/inputbtn.png); background-repeat:repeat-x; background-position:top left; border:none; display:inline-block; font-family:inherit; font-size:0.85em; height:auto; margin-bottom:10px; padding:5px 7px; text-transform:uppercase; }

.left								{ float:left; }
.right								{ float:right; }
.clear								{ clear:both; height:0; line-height:0; }


/* PAGE STRUCTURE ELEMENTS - PLACE YOUR OWN SITE STRUCTURE STYLES HERE ***********************************************************/

html								{ height:100%; }
body, #body, #Body,
#form, #Form						{ height:100%; margin:0; padding:0; width:100%; }
#BgLayer1							{ height:100%; left:0; overflow:hidden; position:fixed; top:0; width:100%; z-index:-999; }
#Wrapper							{ display:table; height:100%; min-height:100%; position:relative; width:100%; }
#Outer								{ margin:0 auto; }
.PageWidth							{ margin:0 auto; display:table; }
/*Add Other Structure Styles Here */
#HeaderArea							{ background-image:url(../Content/Images/header.bg.png); background-repeat: repeat-x; background-position: bottom; }
#NavAux								{ float:right; margin-top:15px; }
#NavAreaShadow						{ background:url(../Content/Images/menu.shadow.png) repeat-x bottom; padding-bottom:3px; }
#TopBannerArea						{ margin-top:10px; }
#TopBannerArea > .TL				{ background:url(../Content/Images/topbanner.TL.png) no-repeat top left; }
#TopBannerArea > .TL > .TR			{ background:url(../Content/Images/topbanner.TR.png) no-repeat top right; }
#TopBannerArea > .TL > .TR > .TM	{ background:url(../Content/Images/topbanner.TM.png) repeat-x top left; height:17px; margin:0 17px; }
#TopBannerArea > .ML				{ background:url(../Content/Images/topbanner.ML.png) no-repeat top left; }
#TopBannerArea > .ML > .MR			{ background:url(../Content/Images/topbanner.MR.png) no-repeat top right; }
#TopBannerArea > .ML > .MR > .MM	{ background:#fff; margin:0 7px; padding:0 10px; }
#TopBannerArea > .BL				{ background:url(../Content/Images/topbanner.BL.png) no-repeat top left; }
#TopBannerArea > .BL > .BR			{ background:url(../Content/Images/topbanner.BR.png) no-repeat top right; }
#TopBannerArea > .BL > .BR .BM		{ background:url(../Content/Images/topbanner.BM.png) repeat-x top left; height:25px; margin:0 270px; }
#TopBannerArea .container-box		{ margin:0; }
#TopBannerArea .C00_Clean, #TopBannerArea .C00_Clean p, #TopBannerArea .C00_Clean td, #TopBannerArea .C00_Clean div, #TopBannerArea .C00_Clean span,
#TopBannerArea .C00_CleanWPadding, #TopBannerArea .C00_CleanWPadding p, #TopBannerArea .C00_CleanWPadding td, #TopBannerArea .C00_CleanWPadding div, #TopBannerArea .C00_CleanWPadding span
									{ color:#333; }
#ContentAreaWrapper					{ float:left; width:100%; }
#SideBar							{ float:left; margin-left:-100%; }
#FooterContentArea 					{ clear:both; }
#FooterContentArea div,
#FooterContentArea p,
#FooterContentArea li,
#MainContentArea div,
#MainContentArea p,
#MainContentArea li					{ line-height:1.5em; }

#Footer								{ background-image:url(../Content/Images/header.bg.png); background-repeat: repeat-x; background-position: top; width:100%; height:50px; padding-top:20px; position:absolute; bottom:0; text-align:center; }
#Footer > span						{ border-right: 1px #666 solid; padding:0 5px; }

.c_visibility						{ margin:-35px 10px 0 0; }
.c_icons							{ margin-left:15px; }

/* TOKENS - EDIT EXISTING STYLES ONLY IN THIS SECTION, DO NOT ADD EXTRA STYLES ****************************************************/

/*BREADCRUMB*/
#Breadcrumb							{ clear:both; margin:5px 0 2px 10px; }
#Breadcrumb .breadcrumblink,
#Breadcrumb .breadcrumblinkcurrent	{ font-family:inherit; font-size:0.85em; padding:0 10px; text-decoration:none; text-transform:uppercase; }
#Breadcrumb .breadcrumblinkhover 	{ text-decoration:underline; }

/*CART*/
#Cart								{ clear:right; float:right; margin:10px 0; }
#Cart .carticon                     { display:none; }
#Cart .cartlink                     { font-size:0.8em; }
#Cart .cartprice                    { padding-top:5px; }
#Cart .cartsep                      { color:#fff; color:rgba(255,255,255,.3); }

/*COPYRIGHT*/
#Copyright                          { display:inline-block; }
#Copyright .Copyright                      { font-size:0.85em; }

/*DATE*/
#Date 								{ border-left:1px #666 solid; float:left; margin-left:8px; padding-left:8px; }
#Date .date 						{ font-size:0.85em; text-transform:uppercase; }

/*LANGUAGE*/
#Language                           { float:left; margin-left:10px; }
#Language .language                 { border:1px transparent solid; display:inline-block; margin:0 0 0 5px; text-transform:uppercase; }
#Language .languageselected         { border:1px #fff solid; }

/*LOGIN*/
#Login                              { float:left; font-size:0.85em; }
#Login .user-actions a,
#Login .user-actions a:link,
#Login .user-actions a:visited,
#Login .user-actions a:active                    { text-transform:uppercase; }
#Login .user-actions a:hover                            { text-decoration:underline; }

/*LOGO*/
#Logo                               { float:left; margin:30px 15px 20px; }
#Logo a                                          {/*Logo link styles*/}
#Logo .logoimg                      { border:none; }

/*MENUH*/
#MenuH								{ float:left; height:48px; margin-left:7px; }
#MenuH ul.menu										{ width:100%; }
#MenuH ul.menu > li										{ text-decoration:none; }
#MenuH ul.menu > li:hover,
#MenuH ul.menu > li.current	 			 		{ background:transparent url(../Content/Images/menu.on.png) repeat; }
#MenuH ul.menu > li > a,
#MenuH ul.menu > li:hover > a,
#MenuH ul.menu > li.current > a				{ background:transparent url(../Content/Images/menu.sep.png) repeat-y right; font-family:inherit; font-size:0.9em !important; line-height:1em; padding:18px 20px; text-transform:uppercase; text-decoration:none; }

/*MENUV*/
#MenuV .TL							{ background-image:url(../Content/Images/menuV.TL.png); background-repeat:no-repeat; background-position: top left; }
#MenuV .TR							{ background-image:url(../Content/Images/menuV.TR.png); background-repeat:no-repeat; background-position: top right; }
#MenuV .TM							{ background-image:url(../Content/Images/menuV.TM.png); background-repeat:repeat-x; background-position: top; height:5px; margin:0 17px; padding-top:9px; }
#MenuV .TM .Color2_Bg				{ height:5px; margin:0 -10px; }
#MenuV .ML							{ background-image:url(../Content/Images/menuV.ML.png); background-repeat:repeat-y; background-position: top left; }
#MenuV .MR							{ background-image:url(../Content/Images/menuV.MR.png); background-repeat:repeat-y; background-position: top right; }
#MenuV .MM							{ margin:0 7px; }
#MenuV .BL							{ background-image:url(../Content/Images/menuV.BL.png); background-repeat:no-repeat; background-position: top left; }
#MenuV .BR							{ background-image:url(../Content/Images/menuV.BR.png); background-repeat:no-repeat; background-position: top right; }
#MenuV .BM							{ background-image:url(../Content/Images/menuV.BM.png); background-repeat:repeat-x; background-position: top; height:20px; margin:0 80px; }
#MenuV .BM .Color2_Bg				{ height:5px; margin:0 -73px; }

#MenuV								{ }
#MenuV ul.menu										{ padding:5px 0; width:100%; }
#MenuV ul.menu > li										{ background:transparent; text-decoration:none; }
#MenuV ul.menu > li:hover,
#MenuV ul.menu > li.current						{ background:transparent url(../Content/Images/menu.on.png) repeat; }
#MenuV ul.menu > li > a
,
#MenuV ul.menu > li:hover > a,
#MenuV ul.menu > li.current > a
		{ background:transparent url(../Content/Images/menuV.sep.png) repeat-x bottom; font-family:inherit; font-size:0.9em !important; line-height:1em; padding:9px 15px; text-decoration:none; text-transform:uppercase; }

/*submenu*/
#MenuH .submenu, 
#MenuV .submenu 					 					{ background-image:url(../Content/Images/submenu.bg.png); background-repeat:repeat-x; background-position:top; min-width:200px; padding:4px; z-index:9999; }
#MenuV .submenu 					 					{ padding:0px; }
#MenuH .submenu li,
#MenuV .submenu li								{ background:transparent url(../Content/Images/submenu.border.png) repeat-x bottom; text-decoration:none; }
#MenuH .submenu li:hover,
#MenuH .submenu li.current,
#MenuV .submenu li:hover,
#MenuV .submenu li.current				{ background:transparent url(../Content/Images/menu.on.png) repeat; text-decoration:none; }
#MenuH .submenu li a,
#MenuH .submenu li:hover > a,
#MenuH .submenu li.current > a,
#MenuV .submenu li a
,
#MenuV .submenu li:hover > a,
#MenuV .submenu li.current > a
	{ background:transparent url(../Content/Images/submenu.arrow.png) no-repeat 9px 12px; font-size:0.9em; line-height:1em; padding:8px 30px; text-decoration:none !important; text-transform:none; }
.megamenu .mega  .submenu .submenu,
.megamenu .mega  .submenu .submenu { background:transparent !important; min-width:120px !important; }
.megamenu .mega .submenu li a,
.megamenu .mega .submenu li a		{ font-weight:bold; }
.megamenu .mega .submenu .submenu li a,
.megamenu .mega .submenu .submenu li a				{ font-weight:normal; }
.megamenu .mega .submenu .submenu li,
.megamenu .mega .submenu .submenu li:hover,
.megamenu .mega .submenu .submenu li.current,
.megamenu .mega .submenu .submenu li,
.megamenu .mega .submenu .submenu li:hover,
.megamenu .mega .submenu .submenu li.current    { background:transparent !important; padding-left:10px; }
#MenuV.accordion .submenu						{ min-width:100px !important; }
#MenuV.accordion  .submenu .submenu{ background:transparent !important; }
#MenuV.accordion .submenu .submenu li,
#MenuV.accordion .submenu .submenu li:hover,
#MenuV.accordion .submenu .submenu li.current{ background:transparent !important; border-bottom:none !important; padding-left:10px; }

/*PRIVACY*/
#Privacy                            { display:inline-block; }
#Privacy .privacylink               { font-size:0.85em; }
#Privacy .privacylinkhover          {/*Specific styles when hover*/}

/*SEARCH*/
#Search 							{ background-image:url(../Content/Images/search.bg.png); background-repeat:no-repeat; float:right; height:31px; margin:8px 0; width:222px; }
#Search .search-form input[type=text]                                { background:transparent; border:none; color:#fff; font-size:12px; height:17px; margin:0; padding:5px; width:156px !important; }
#Search .search-form button[type=submit]                                    { background:transparent none; border:none; display:inline-block; font-size:0; height:27px; line-height:27px; vertical-align:top; width:40px; }

/*SITEMAP*/
#Sitemap                            { font-size:0.85em; }
#Sitemap .sitemaplink               {/*General link styles*/}
#Sitemap .sitemaplinkhover          {/*Specific styles when hover*/}

/*TERMS*/
#Terms 								{ display:inline-block; }
#Terms .termslink                   { font-size:0.85em; }
#Terms .termslinkhover              {/*Specific styles when hover*/}

/*USER*/
#User                               { border-left:1px #666 solid; float:left; font-size:0.85em; margin-left:8px; padding-left:8px; }
#User .welcome a,
#User .welcome a:link,
#User .welcome a:visited,
#User .welcome a:active                      { text-transform:uppercase; }
#User .welcome a:hover                                { text-decoration:underline; }
/**********************************************************************************************************************************/
/* ORCHARD SPECIFIC STYLES ********************************************************************************************************/
/**********************************************************************************************************************************/

.user-display						{ display:inline; }
.user-display .welcome,
.user-display .user-actions a		{ margin-right:5px; }
.search-form fieldset				{ background:transparent; border:none; margin:0; padding:0; }
.search-form button[type="submit"]	{ cursor:pointer; margin:0; }

/* zones */
.pane                               { display:inline; float:left; text-align:left; vertical-align:top; }
.w5									{ width:5%; }
.w10                                { width:10%; }
.w15                                { width:15%; }
.w20                                { width:20%; }
.w25                                { width:25%; }
.w30                                { width:30%; }
.w33                                { width:33%; }
.w34                                { width:34%; }
.w35                                { width:35%; }
.w40                                { width:40%; }
.w45                                { width:45%; }
.w50                                { width:50%; }
.w55                                { width:55%; }
.w60                                { width:60%; }
.w65                                { width:65%; }
.w66                                { width:66%; }
.w67                                { width:67%; }
.w70                                { width:70%; }
.w75                                { width:75%; }
.w80                                { width:80%; }
.w85                                { width:85%; }
.w90                                { width:90%; }
.w95                                { width:95%; }
.w100                               { width:100%; }
.EmptyZone							{ margin: 0; padding: 0; width: 0; height:0; line-height:0; display:none !important; }
.showZone span						{ border:1px #777 dotted; color:#999; display:block; padding:10px; margin:1px; text-align:center; }
.zonegroup							{ clear: both; }

/*tokens not in use*/
#Breadcrumb,
#Cart,
#Date,
#Language,
#Privacy,
#Sitemap,
#Terms								{ display:none !important; }

/*default menus display settings*/
ul.menu								{ margin:0; padding:0; }
ul.menu a                			{ color: inherit; font: inherit; }
ul.admin li							{ float:left; list-style:none; padding:0 0 0 20px; }
#MenuH ul.menu > li					{ float:left; }
#MenuH ul.menu,
#MenuH ul.menu li,
#MenuH ul.menu li a					{ display:inline-block; list-style:none; }
#MenuV ul.menu,
#MenuV ul.menu li,
#MenuV ul.menu li a,
#MenuH ul.menu ul li,
#MenuH ul.menu ul li a,
#MenuV ul.menu ul li,
#MenuV ul.menu ul li a				{ display:block; list-style:none; }
#MenuH .widget, #MenuV .widget		{ margin-bottom:0; }

/*Guarantee that submenus do not load open*/
#MenuH .submenu, #MenuV .submenu    { display:none;}

/*Remove margins from logo h1 text*/
#Logo h1							{ margin-bottom:0; }

/*Guarantee that search inner form has no margin*/
#Search form						{ margin:0; }

.widget-control .manage-actions {margin: -15px 0 0; position: absolute;}

/**********************************************************************************************************************************/
/* IE7 FIX ************************************************************************************************************************/
/**********************************************************************************************************************************/

.IE7.cmsORX .container-box .TM		{ overflow:hidden !important; }
.IE7.cmsORX .c_title				{ float:left !important;  }	/*Fix container titles*/
.IE7.cmsORX #MenuH                  { z-index:1001; }
.IE7.cmsORX #MenuV                  { z-index:1000; }
.IE7.cmsORX #MenuH .menu > li 	    { display:inline; zoom:1; list-style:none; float:none; }
.IE7.cmsORX #MenuH .menu > li > a   { float:left; }
.IE7.cmsORX #MenuH .submenu         { text-align:left; width:180px; }
.IE7.cmsORX #MenuH .submenu li a    { white-space:normal; display:block; }
/**********************************************************************************************************************************/
/* MANUAL STYLES DEFINED AFTER PACKAGE GENERATION *********************************************************************************/
/**********************************************************************************************************************************/


/* ORX1 */
#Copyright							{ border:none !important; }

.C01 .C00_Clean,
.C01 .C00_Clean p,
.C01 .C00_Clean td,
.C01 .C00_Clean div,
.C01 .C00_Clean span,
.C01 .C00_CleanWPadding,
.C01 .C00_CleanWPadding p,
.C01 .C00_CleanWPadding td,
.C01 .C00_CleanWPadding div,
.C01 .C00_CleanWPadding span		{ color:#333333 !important; }

/**********************************************************************************************************************************/
	/* CONTAINERS *********************************************************************************************************************/
	/**********************************************************************************************************************************/
	.C00_Clean.container-box		{ margin:0 10px 10px; }
.C00_CleanWPadding.container-box		{ margin:0 10px 10px; }
.C00_CleanWPadding					{ padding:10px; }
.container-box				{ margin:0 0 10px; }
.C01						{ }

.C01 .TL					{ background-image:url(C01.TL.png); background-repeat:no-repeat; background-position: top left; }
.C01 .TR					{ background-image:url(C01.TR.png); background-repeat:no-repeat; background-position: top right; }
.C01 .TM					{ background-image:url(C01.TM.png); background-repeat:repeat-x; background-position: top; height:22px; margin:0 17px; }

.C01 .ML					{ background-image:url(C0X.ML.png); background-repeat:repeat-y; background-position: top left; }
.C01 .MR					{ background-image:url(C0X.MR.png); background-repeat:repeat-y; background-position: top right; }
.C01 .MM					{ background:#fff; margin:0 7px; }
.C01 .MM .CTitle			{ background: transparent url(C0X.TitleBg.png) repeat-y right top; display:block; font-family:inherit; font-size:1em; font-weight:bold; padding:10px 15px; text-transform:uppercase; }
.C01 .MM > .containercontent{ background: transparent url(C0X.TitleShadow.jpg) no-repeat right top; padding:15px 15px 5px; }

.C01 .BL					{ background-image:url(C0X.BL.png); background-repeat:no-repeat; background-position: top left; }
.C01 .BR					{ background-image:url(C0X.BR.png); background-repeat:no-repeat; background-position: top right; }
.C01 .BM					{ background-image:url(C0X.BM.png); background-repeat:repeat-x; background-position: top; height:20px; margin:0 80px; }
.container-box				{ margin:0 0 10px; }
.C02						{ }

.C02 .TL					{ background-image:url(C01.TL.png); background-repeat:no-repeat; background-position: top left; }
.C02 .TR					{ background-image:url(C01.TR.png); background-repeat:no-repeat; background-position: top right; }
.C02 .TM					{ background-image:url(C01.TM.png); background-repeat:repeat-x; background-position: top; height:22px; margin:0 17px; }

.C02 .ML					{ background-image:url(C0X.ML.png); background-repeat:repeat-y; background-position: top left; }
.C02 .MR					{ background-image:url(C0X.MR.png); background-repeat:repeat-y; background-position: top right; }
.C02 .MM					{ background:#fff; margin:0 7px; }
.C02 .MM .CTitle			{ background: transparent url(C0X.TitleBg.png) repeat-y right top; display:block; font-family:inherit; font-size:1em; font-weight:bold; padding:10px 15px; text-transform:uppercase; }
.C02 .MM > .containercontent{ background: transparent url(C0X.TitleShadow.jpg) no-repeat right top; padding:15px 15px 5px; }

.C02 .BL					{ background-image:url(C0X.BL.png); background-repeat:no-repeat; background-position: top left; }
.C02 .BR					{ background-image:url(C0X.BR.png); background-repeat:no-repeat; background-position: top right; }
.C02 .BM					{ background-image:url(C0X.BM.png); background-repeat:repeat-x; background-position: top; height:20px; margin:0 80px; }
.container-box				{ margin:0 0 10px; }
.C03						{ }

.C03 .TL					{ background-image:url(C03.TL.png); background-repeat:no-repeat; background-position: top left; }
.C03 .TR					{ background-image:url(C03.TR.png); background-repeat:no-repeat; background-position: top right; }
.C03 .TM					{ background-image:url(C03.TM.png); background-repeat:repeat-x; background-position: top; height:22px; margin:0 17px; }

.C03 .ML					{ background-image:url(C0X.ML.png); background-repeat:repeat-y; background-position: top left; }
.C03 .MR					{ background-image:url(C0X.MR.png); background-repeat:repeat-y; background-position: top right; }
.C03 .MM					{ background:#fff; margin:0 7px; }
.C03 .MM .CTitle			{ border-bottom:1px #ddd solid; display:block; font-family:inherit; font-size:1em; font-weight:bold; padding:10px 15px; text-transform:uppercase; }
.C03 .MM > .containercontent{ padding:10px 15px 5px; }

.C03 .BL					{ background-image:url(C0X.BL.png); background-repeat:no-repeat; background-position: top left; }
.C03 .BR					{ background-image:url(C0X.BR.png); background-repeat:no-repeat; background-position: top right; }
.C03 .BM					{ background-image:url(C0X.BM.png); background-repeat:repeat-x; background-position: top; height:20px; margin:0 80px; }
.container-box				{ margin:0 0 10px; }
.C04						{ }

.C04 .TL					{ background-image:url(C03.TL.png); background-repeat:no-repeat; background-position: top left; }
.C04 .TR					{ background-image:url(C03.TR.png); background-repeat:no-repeat; background-position: top right; }
.C04 .TM					{ background-image:url(C03.TM.png); background-repeat:repeat-x; background-position: top; height:22px; margin:0 17px; }

.C04 .ML					{ background-image:url(C0X.ML.png); background-repeat:repeat-y; background-position: top left; }
.C04 .MR					{ background-image:url(C0X.MR.png); background-repeat:repeat-y; background-position: top right; }
.C04 .MM					{ background:#fff; margin:0 7px; }
.C04 .MM .CTitle			{ border-bottom:1px #ddd solid; display:block; font-family:inherit; font-size:1em; font-weight:bold; padding:10px 15px; text-transform:uppercase; }
.C04 .MM > .containercontent{ padding:10px 15px 5px; }

.C04 .BL					{ background-image:url(C0X.BL.png); background-repeat:no-repeat; background-position: top left; }
.C04 .BR					{ background-image:url(C0X.BR.png); background-repeat:no-repeat; background-position: top right; }
.C04 .BM					{ background-image:url(C0X.BM.png); background-repeat:repeat-x; background-position: top; height:20px; margin:0 80px; }

